@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: rgb(214, 231, 190);
}

#frame {
  width: 300px;
  height: 450px;
}

#frame:hover {
  transform: scale3d(1.05, 1.05, 1.05); 
  /* 기존 img를 hover했을 때 3d 입체감 느낌 있게 x,y,z축 1.05배씩 커지게함*/
  transition: 1000ms;
  /*frame의 애니메이션 변화 시간(1.05배 커지는 걸 부드럽게 보여주고 싶어서 느리게 함)*/
}

#card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: url("jhm1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  transition-duration: 250ms; /*트랜지션이 일어나는 지속 시간*/
  transition-property: transform, box-shadow;
  /* transform, box-shadow의 트랜지션을 위의 250ms로 함으로서 frame:hover 시 
  반응이 250ms 안에 나타나게함 */
  transition-timing-function: ease-out;
}

#light {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

