@charset "utf-8";
body
{
    background: linear-gradient(90deg, slategrey 50%, white 50%);
}
.container
{
    width: 220px;
    height: 290px;
    padding: 50% auto;
    margin: 10% auto;
}
.box
{
    margin: 0 10px;
    transition: all 1s;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box img
{  
    display: block;
    width: 180px; /* 사진 사이즈 고정 */
    height: 250px; /* 사진 사이즈 고정 */
    border-radius: 50px;
}
.box:hover
{
    transform: scale(1.5); /* mouse over시 image size를 얼마나 늘리겠냐 */
    z-index: 2; /* mouse over시 해당 image를 가장 상위로 올려줌으로서 사진 겹치는 걸 방지 */

}
.box:hover img
{
    float: left;
    top: 50px;
    left: -50px;
}

.box .img5
{
    position: absolute;
    top: 50px;
}
.box .img4
{
    position: absolute;
    top: 100px;
    left: 50px;
}
.box .img3
{
    position: absolute;
    top: 150px;
    left: 100px;
}
.box .img2
{
    position: absolute;
    top: 200px;
    left: 150px;
}
.box .img1
{
    position: absolute;
    top: 250px;
    left: 200px;
}
